.c-text {
  border: 0;
  border-bottom: 1px solid #565a68;
  background-color: transparent;
  color: #565a68;
  font-family: 'Open Sans';
  font-size: 22px;
  padding: 11px;
  width: 487px;
  outline: none;
}