@import '../../../node_modules/normalize-styl/normalize.styl'

// @import './core/x-ray.styl'
@import './core/typography.styl'
@import './core/helpers.styl'

@import './components/nav.styl'


body 
  font-family 'Open Sans', sans-serif