@import '../../../node_modules/normalize-styl/normalize.styl'

// @import './core/x-ray.styl'
@import './core/variables.styl'
@import './core/typography.styl'
@import './core/helpers.styl'

@import './components/nav.styl'
@import './components/new-todo-input.styl'
@import './components/todos.styl'


body 
  font-family 'Open Sans', sans-serif
  background-color $light-gray 