// ==================================================
// Typography
// https://css-tricks.com/rems-ems/
// ==================================================

html
  font-size 17px

// Media Queries
@media (min-width: 1920px)
  html 
    font-size 30px

@media (max-width: 1920px)
  html 
    font-size 25px

@media (max-width: 1600px)
  html 
    font-size 20px

@media (max-width: 1366px)
  html 
    font-size 16px

@media (max-width: 600px)
  html 
    font-size 15px

@media (max-width: 400px)
  html 
    font-size 14px


// Modules
.header
  font-size 1rem

.new-todo-input
  font-size 1.06rem
  @media (max-width: 400px)
    font-size 0.97rem
    
.todos
  font-size 1rem

.footer
  font-size 0.55rem


// Elements
.header__time__day
  font-size 2.2em

.header__time__more-info__day-week
  font-size 0.95em

.todos__list__item__text
  font-size 0.82em
  
.header__time__more-info__month-year
  font-size 0.6em
  