// ==================================================
// Typography
// https://css-tricks.com/rems-ems/
// https://www.madebymike.com.au/writing/precise-control-responsive-typography/
// ==================================================

html
  font-size calc(14px + (22 - 14) * ((100vw - 400px) / (2560 - 400)));

// Modules
.header
  font-size 1rem

.new-todo-input
  font-size 1.06rem
  @media (max-width: 400px)
    font-size 0.97rem
    
.todos
  font-size 1rem

.footer
  font-size 0.55rem


// Elements
.header__time__day
  font-size 2.2em

.header__time__more-info__day-week
  font-size 0.95em

.todos__list__item__text
  font-size 0.82em
  
.header__time__more-info__month-year
  font-size 0.6em
  