// ==================================================
// Typography
// ==================================================

$text-size = 1rem

h1
  font-size ($text-size * 3)

h2
  font-size ($text-size * 2)

h3
  font-size ($text-size * 1.5)

h4
  font-size ($text-size * 1.2)

h5
  font-size $text-size

h6, label
  font-size ($text-size * 0.8)

p
  font-size $text-size

input 
  font-size ($text-size * 1.05)
