// =================
// Colors
// =================

$dark-green          = #286a07
$green               = #2c8002
$green-2             = #318e02
$light-green         = #42c003
$lighter-gray        = #e8e8e8
$light-gray          = #eaeaea
$light-gray-2        = #d9dce2
$medium-gray         = #ccc
$medium-gray-2       = #c8cdd5
$gray                = #b4b9c3
$blue-gray-light     = #b5b8c3
$blue-gray           = #565a68
$blue-dark           = #363b46
$red                 = #e74c3c 

