// =================
// Colors
// =================

$green               = #2c8002
$light-green         = #42c003
$light-gray          = #e8e8e8
$medium-gray         = #ccc
$blue-gray-light     = #b5b8c3
$blue-gray           = #565a68
$blue-dark           = #363b46
$red                 = #e74c3c 

