.footer
  display flex
  justify-content space-between
  margin-bottom 6.2em
  wrapper(33.6em, 0)

  &__text
    color $green
  
  &__nav
    margin-right -0.3em

    &__link
      padding 0.28em 0.75em
      margin-left 0.5em
      text-decoration none
      color $green
      border-radius 4px
      transition 200ms all ease-in-out

      &:hover
        color white 
        background-color $green
