.new-todo-input
  display block
  margin 2.2em auto 0
  padding .4em 0.2em .5em
  width 61%
  border-width 0 0 1px 0
  border-bottom-style solid
  border-bottom-color $medium-gray 
  background-color $lighter-gray 
  color $blue-dark 
  font-weight 600
  letter-spacing -0.5
  outline none
