.new-todo-input
  display block
  min-width 100%
  margin 1em auto
  padding .5em
  border-width 0 0 2px 0
  border-bottom-style solid
  border-bottom-color $medium-gray
  background-color $light-gray 
  color $blue-gray
  &::placeholder
    color $blue-gray