.todos
  background-color #fff
  margin 1.3em auto 0.9em
  wrapper(296px, 0)
  box-shadow 6px -2px 50px #c8cdd5

  &__list
    padding-left 0
    list-style-type none
    margin 0

    &__item
      padding 0.78em 0.3em 0.78em 2.1em
      display flex
      justify-content space-between
      align-items center
      &:hover
        background-color $light-gray
      
      &__edit
        padding 0.78em 2.1em 0.78em 2.1em
        border 1px solid $blue-gray-light  
        background-color white

        &__form
          display flex
          justify-content space-around
          align-items center
          flex-wrap wrap
          margin-bottom 0

          &__input
            flex 0 0 100%
            font-size 0.8em
            padding 0.2em 0 0.2em 0.5em
            margin-bottom 1em
            border-width 0 0 1px 0
            border-bottom-style solid
            border-bottom-color $medium-gray
            color $blue-dark 

          &__confirm
            padding 0.28em 0.75em
            font-size 0.55rem
            border-radius 4px
            color white 
            background-color $green
            border none
            cursor pointer

            &__disable
              padding 0.28em 0.75em
              font-size 0.55rem
              border-radius 4px
              color white 
              background-color $medium-gray
              border none

          &__cancel
            padding 0.28em 0.75em
            font-size 0.55rem
            border-radius 4px
            color white 
            background-color $red
            border none
            cursor pointer

      &__text
        color $blue-dark
        order 1
        flex 0 0 80%
        font-weight 600

      &__checkbox
        order 2
        flex 0 0 10%
        & + .todos__list__item__text
          color $blue-dark  
        &:checked + .todos__list__item__text
          color $blue-gray-light

      &__delete
        flex 0 0 10%
        border 1px solid transparent
        background-color transparent
        color $red
        order 3

