/* .App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #ebebeb;
} */


.title {
  font-size: 1.5em;
  color : #328b00;
}

.header {
  background-color: #328b00;
  height: 50px;
  color: #2d7502;
}

.tarefa{
  padding : 50px;
  height: 50px;
  position: relative;
}


.tarefa input {
  border: none;
  background: transparent;
  bottom: 0;
  line-height: 0.7;
  width : 70%;
  padding-bottom: 10px;
  color: #616573; 
  outline: none;
  border-bottom-width: 0.05px;
  border-bottom-color: #616573; 
  border-bottom-style: solid;
}

.logo {
  background-color: #328b00;
  height: 30px;
  padding: 10px;
  color: #2d7502;
  font-size: large;
}


.hoje {
  background-color: #2d7502;
  height: 50px;
  width : 100px;
  padding: 0px;
  color: #328b00;
  font-size: large;
  float: right;
}
/*
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/