.todofield{
    padding : 57px;
    padding-bottom: 20px;
    height: 50px;
    position: relative;
  }
  
  
.todofield input {
    border: none;
    background: transparent;
    bottom: 0;
    line-height: 0.7;
    width : 90%;
    padding-bottom: 15px;
    padding-left: 10px;
    color: #616573; 
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size:  larger;
    border-bottom-width: 0.05px;
    border-bottom-color: #d2d2d2; 
    border-bottom-style: solid;
}

  