.main {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #ebebeb;
  width: 600px;
  margin: 0 auto;
  text-align: left;
  font-size: large;
} 

.header-container{
  width:100%;
}

.header {
  background-color: #328b00;
  height: 80px;
  color: #2d7502;
  align-items: center;
  overflow: hidden;
}

.logo {
  height: 45px;
  margin: 0 auto;
  display : block;
  padding : 17.5px;
}


.hoje {
  background-color: #2d7502;
  height: 80px;
  padding: 0px;
  color: #328b00;
  float: right;
  width : 180px;
}


.hoje-group{
  color: #328b00;
  background-color: transparent;
  padding : 0px;
 }

.hoje-dia{
  color: #4cac0d;
  background-color: transparent;
  padding : 0px;
  font-size: 50px;
  font-weight: 600;
  overflow: hidden;
  top: 5px;
  left: 15px;
  position: relative;
}

.hoje-sem-mes-ano{
  color: #4cac0d;
  background-color: transparent;
  font-size: 10px;
  font-weight: 600;
  padding : 10px;
  position: relative;
  float: right;
  top: 5px;
}

.hoje-semana{
  color: #4cac0d;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  padding : 0px;
}

.hoje-mes-ano{
  color: #4cac0d;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  padding : 0px;
}




.title {

  color : #328b00;
}

.todofield{
  padding : 50px;
  height: 50px;
  position: relative;
}


.todofield input {
  border: none;
  background: transparent;
  bottom: 0;
  line-height: 0.7;
  width : 90%;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #616573; 
  outline: none;
  font-size:  large;
  border-bottom-width: 0.05px;
  border-bottom-color: #d2d2d2; 
  border-bottom-style: solid;
}

.todolist{
  width: 60%;
  margin: auto;
}

.todolist  ul {
  display: inline;
  float: none;
}


ul {
  list-style: none;
}

ul>li:hover {
  background-color: #ededed;
}

.done {
  display: block;
  float: none;
  width : 100%;
  height : 70px;
  background-color: #ffffff;
  color : #e2e2e2;
 
}

.done:hover {
  background-color: #ededed;
}

.todo {
  display: block;
  float: none;
  height : 70px;
  background-color: #ffffff;
  color : #43464f;
}

.todotitle {
  margin: 0 auto;
  display : block;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.todo:hover {
  background-color: #ededed;
}

.close {
  position: relative;
  font-size: 25px;
  font-weight: 100;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .82;
  color : red;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  top : -44px;
  left : 92%;
}
